<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.4.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <clientCredentials>
            <clientCertificate findValue="99 27 74 ed 76 a3 8c 0d b7 52 01 43 44 21 60 c9 62 45 22 dc"
                x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <defaultCertificate findValue="e8 a5 1e 4f cb b6 78 86 f9 17 2b df 9b 94 20 b9 ee fa 39 9d"
                  storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
              <authentication revocationMode="Offline" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customSmevBinding">
          <security defaultAlgorithmSuite="BasicGostObsolete" allowSerializedSigningTokenOnReply="true"
              authenticationMode="MutualCertificateDuplex" requireDerivedKeys="true"
              includeTimestamp="false" messageProtectionOrder="SignBeforeEncrypt"
              messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="true" />
          </security>
          <SMEVTextMessageEncoder />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SmevServiceDemo/Service/"
                behaviorConfiguration="clientBehavior"
                binding="customBinding"
                bindingConfiguration="customSmevBinding"
                contract="SmevServiceReference.SmevServiceDemo"
                name="SmevServiceDemo" />
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
          propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Srv_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, Timestamp, Callstack">
        <filter type="" />
      </add>
      <add initializeData="Srv_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, Timestamp, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>