<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
          propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, Timestamp, Callstack">
        <filter type="" />
      </add>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, Timestamp, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.4.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5"/>
      </bindingElementExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="customSmevBinding">
          <security defaultAlgorithmSuite="BasicGostObsolete"
                    allowSerializedSigningTokenOnReply="true"
                    authenticationMode="MutualCertificateDuplex"
                    includeTimestamp="false"
                    messageProtectionOrder="SignBeforeEncrypt"
                    messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <SMEVTextMessageEncoder/>
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <clientCredentials>
            <clientCertificate findValue="D306CB609F817E0AE86C525F3E19C16335E1F5C9"
                               x509FindType="FindByThumbprint"
                               storeLocation="CurrentUser"
                               storeName="My"/>
            <serviceCertificate>
              <defaultCertificate findValue="E67256F40BF643F2C178085A08CA79284DDE306A"
                                x509FindType="FindByThumbprint"
                                storeLocation="LocalMachine"
                                storeName="My"/>
              <authentication
                      certificateValidationMode="ChainTrust"
                      revocationMode="Offline" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SmevService/Service/"
                binding="customBinding"
                bindingConfiguration="customSmevBinding"
                behaviorConfiguration="clientBehavior"
                contract="SmevServiceReference.SmevDemoService"
                name="SampleSmevPort">
        <identity>
          <dns value="SmevDemoService" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>  